In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [85]:
df=pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

## Class column contains  1 means fraud and 0 means not fraud

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [87]:
df=df[0:50000:]

In [88]:
df.duplicated().sum()

220

In [89]:
df.drop_duplicates(keep='first')

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,44296.0,-1.007648,0.722149,0.779027,-1.466661,0.298457,-0.263997,0.442429,0.400734,-0.591588,...,0.137489,0.171923,-0.205126,-0.650297,0.072522,1.391071,-0.167746,-0.019007,39.99,0
49996,44297.0,-5.202399,2.077079,-3.905209,1.097967,-1.719915,-0.803272,-1.162430,2.679623,-0.640010,...,-0.071897,0.396541,0.298550,-0.451037,-0.076617,-0.317780,0.508982,-0.144442,99.99,0
49997,44298.0,-1.597980,-0.363988,2.114888,-1.101263,-0.291577,0.009897,0.456899,0.029229,0.712018,...,-0.161615,0.008125,-0.142336,0.078871,-0.016251,0.836074,0.302804,-0.022386,172.14,0
49998,44298.0,-2.998734,2.323844,-2.419829,0.941745,-1.436231,-0.847601,-0.582896,1.965394,-0.846173,...,0.201051,0.456424,-0.059220,0.040043,-0.435842,-0.391904,0.375636,-0.024394,89.99,0
49999,44299.0,0.618650,-1.744738,0.367658,-1.486308,-1.724517,-0.818788,-0.159622,-0.136526,2.675536,...,0.043975,-0.211090,-0.343932,0.445524,0.481628,-0.873888,0.045765,0.089661,339.80,0

In [90]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [91]:
x=df[['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount']]

In [92]:
y=df['Class']

In [93]:
n_features=x_train.shape

In [94]:
n_features

(40000, 30)

In [95]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

In [96]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [97]:
x_train_Scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.fit(x_test)

In [98]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()

In [99]:
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)

In [100]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9997

## Creating a Neural Network

In [101]:
import tensorflow as tf
from tensorflow import keras
from keras import Sequential 
from tensorflow.keras.layers import Dense

In [102]:
model=Sequential()
model.add(Dense(3,activation='relu',input_dim=30))
model.add(Dense(3,activation='relu'))
model.add(Dense(3,activation='relu'))

In [113]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [114]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 3)                 93

 dense_4 (Dense)             (None, 3)                 12

 dense_5 (Dense)             (None, 3)                 12

=================================================================
Total params: 117 (468.00 Byte)
Trainable params: 117 (468.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [115]:
model.fit(x_train_Scaled,y_train,epochs=10)

Epoch 1/10
1250/1250 [==============================] - 6s 3ms/step - loss: 0.0506 - accuracy: 0.9842
Epoch 2/10
1250/1250 [==============================] - 3s 3ms/step - loss: 0.0355 - accuracy: 0.9966
Epoch 3/10
1250/1250 [==============================] - 3s 3ms/step - loss: 0.0348 - accuracy: 0.9970
Epoch 4/10
1250/1250 [==============================] - 3s 3ms/step - loss: 0.0345 - accuracy: 0.9971
Epoch 5/10
1250/1250 [==============================] - 3s 3ms/step - loss: 0.0345 - accuracy: 0.9972
Epoch 6/10
1250/1250 [==============================] - 3s 3ms/step - loss: 0.0345 - accuracy: 0.9972
Epoch 7/10
1250/1250 [==============================] - 3s 3ms/step - loss: 0.0345 - accuracy: 0.9972
Epoch 8/10
1250/1250 [==============================] - 3s 3ms/step - loss: 0.0345 - accuracy: 0.9972
Epoch 9/10
1250/1250 [==============================] - 3s 3ms/step - loss: 0.0345 - accuracy: 0.9972
Epoch 10/10
1250/1250 [==============================] - 3s 3ms/step - loss: 0.0344 - accuracy: 0.9972

In [119]:
y_pred=model.predict(x_test)

313/313 [==============================] - 1s 2ms/step

In [121]:
y_pred=np.where(y_pred>0.5,1,0)

In [125]:
accuracy_score(y_pred,y_test)